.hero {
	h1 {font-size:@label-size; margin-top:30px;
		strong.logotype {background:none; font-size:@label-size; width:auto; height:auto; margin-bottom:0; margin-right:6px; font-weight:@normal-weight;}
	}
}

.footer {
	nav {
		ul.nav {border:0;}
	}
}