#inner-content.events-classes {
	.events-classes-list {
		li {margin-bottom:10px; .border-radius; background:@lightest-gray; padding:0 0 20px; .clearfix;}
		.event-header {padding:20px 20px 10px; border-bottom:1px solid @lighter-gray; text-align:right; .clearfix;}
		.event-title {display:inline-block; font-size:@label-size; line-height:@label-size; margin:0; font-weight:@bold-weight; float:left;
			a {color:@blue; display:block; border:0;}
		}
		.event-date, .event-time {text-transform:uppercase; font-size:@tiny-size; line-height:@tiny-size; vertical-align:bottom;}
		.event-date {color:@gray;}
		.event-time {color:@pink;}
		.event-desc {padding:20px 20px 0;
			strong {text-transform:uppercase; color:@pink;}
			.eo-event-meta {margin:0;
				li {margin:0; padding:0;}
				+ p {margin-top:0;}
			}
		}
		.button {margin-right:20px; font-size:@p-size; padding:10px 20px;}
	}
	.article-header.event-header {.clearfix;
		.event-title {border-bottom:1px solid @lighter-gray; padding:0 0 2px;}
		.event-entry-meta {text-transform:uppercase; font-size:@p-size; line-height:@p-size; margin:15px 0 0;
			.event-date {color:@gray;}
			.event-time {color:@pink;}
		}
	}

}