input[type=text],
input[type=email],
input[type=number],
input[type=phone],
input[type=url],
textarea {
	background:@light-gray; border:0; font-size:@label-size; padding:15px; font-family:@sans-serif;
	font-weight:100; color:@gray; .border-radius; display:block; .box-sizing; width:100%;
}